* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #111111;
}

.App {
  background-color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.header-container h1 {
  color: white;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 30px;
}

.header-container input {
  padding: 5px 10px 5px 10px;
  width: 400px;
  height: 40px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
  font-size: 15px;
}

i {
  font-size: 25px;
  color: white;
  margin-left: 15px;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-container img {
  height: 45px;
  margin-left: 30px;
  cursor: pointer;
}

.button-container img:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.2s;
}

::placeholder {
  color: black;
  font-weight: 500;
  text-transform: none;
}

.header-container input:focus {
  outline: none;
  border-bottom: solid #def2f1 2px;
}

.header-container input:hover {
  transform: scale(1.02);
  transition: all ease-in-out 0.2s;
}

.coin-container {
  display: flex;
  flex-direction: column;
}

.loading-message {
  color: white;
}
